<h1>Projects list</h1>

<p>
  {{link-to "New Projects" "projects.new" }}
</p>

{{#if model.length}}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>
          Id
        </th>
        <th>
          Text
        </th>
        <th>
          Start date
        </th>
        <th>
          Duration
        </th>
        <th>
          Progress
        </th>
        <th colspan="3">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |project|}}
        <tr>
          <td>
            {{project.id}}
          </td>
          <td>
            {{project.text}}
          </td>
          <td>
            {{format-date project.start_date}}
          </td>
          <td>
            {{project.duration}}
          </td>
          <td>
            {{project.progress}}
          </td>
          <td>
            {{link-to "Edit" "projects.edit" project.id}}
          </td>
          <td>
            {{link-to "Show" "projects.show" project.id}}
          </td>
          <td>
            <a href="#" {{action "remove" project}}>Remove</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p id="blankslate">
    No Projects found
  </p>
{{/if}}
