<p>
  {{link-to "Projects list" "projects.index" }} | {{link-to "Gantt chart" "projects.edit" model.id }}
</p>

<h1>{{model.text}}</h1>

<p>
  <span>{{format-date model.start_date}}</span> |
  <span>{{model.duration}} days</span> |
  <span>{{model.progress}}%</span>
</p>

<h2>{{tasks.length}} Task{{if (eq tasks.length 1) '' 's'}}</h2>

{{table-tasks tasks=tasks project=true}}

<h2>{{links.length}} Link{{if (eq links.length 1) '' 's'}}</h2>

{{table-links links=links project=true}}
