<form {{action "save" on="submit"}}>
  <div>
    <label>
      Source Id
      {{input type="text" value=model.source_id}}
    </label>
  </div>
  <div>
    <label>
      Target Id
      {{input type="text" value=model.target_id}}
    </label>
  </div>
  <div>
    <label>
      Type
      {{input type="text" value=model.code}}
    </label>
  </div>
  <div>
    <label>
      Project Id
      {{input type="text" value=model.project_id}}
    </label>
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>
