<p>
  {{link-to "Link list" "links.index" }}
</p>

<h1>Link show</h1>

<p>
    <strong>Link Id:</strong>
    <span>{{model.link_id}}</span>
</p>

<p>
  <strong>Source Id:</strong>
  <span>{{model.source_id}}</span>
</p>

<p>
  <strong>Target Id:</strong>
  <span>{{model.target_id}}</span>
</p>

<p>
  <strong>Type:</strong>
  <span>{{model.code}}</span>
</p>

