{{#if links.length}}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>
                Source
            </th>
            <th>
                Target
            </th>
            <th>
                Type
            </th>
            {{#unless project}}
                <th>
                    Project
                </th>
                <th colspan="3">
                    Actions
                </th>
            {{/unless}}
        </tr>
        </thead>
        <tbody>
        {{#each links as |link|}}
            <tr>
                <td>
                    {{link.source}}
                </td>
                <td>
                    {{link.target}}
                </td>
                <td>
                    {{format-link-code link.code}}
                </td>
                {{#unless project}}
                    <td>
                        {{link.project}}
                    </td>
                    <td>
                        {{link-to "Edit" "links.edit" link}}
                    </td>
                    <td>
                        {{link-to "Show" "links.show" link}}
                    </td>
                    <td>
                        <a href="#" {{action "remove" link}}>Remove</a>
                    </td>
                {{/unless}}
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
    <p id="blankslate">
        No Links found
    </p>
{{/if}}
