<p>
  {{link-to "Task list" "tasks.index" }}
</p>

<h1>Task show</h1>

<p>
    <strong>Task Id:</strong>
    <span>{{model.task_id}}</span>
</p>

<p>
  <strong>Text:</strong>
  <span>{{model.text}}</span>
</p>

<p>
  <strong>Start date:</strong>
  <span>{{model.start_date}}</span>
</p>

<p>
  <strong>Duration:</strong>
  <span>{{model.duration}}</span>
</p>

<p>
  <strong>Progress:</strong>
  <span>{{model.progress}}</span>
</p>

<p>
  <strong>Parent Id:</strong>
  <span>{{model.parent_id}}</span>
</p>

<p>
    <strong>Project Id:</strong>
    <span>{{model.project_id}}</span>
</p>
