<p>
  {{link-to "Task list" "tasks.index" }}
</p>

<h1>{{model.text}}</h1>

<p>
    <span>{{format-date model.start_date}}</span> |
    <span>{{format-duration model.duration}}</span> |
    <span>{{format-progress model.progress}}</span>
</p>

<p>
  <strong>Parent:</strong>
  <span>{{model.parent}}</span>
</p>

<p>
  <strong>Project:</strong>
  <span>{{model.project}}</span>
</p>
